.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.grid {
  display: flex;
}

/* Style Menu component */

.menu {
  width: 0px;
  background-color: rgba(235, 188, 70, 0.9);
  margin: 36px 0 0;
  box-shadow: #222 1px 3px 12px;
  transition: all 1s ease;
}

.list-title {
  font-size: 1em;
}

.search-box {
  display: flex;
  margin: 5px;
}

#filter-button {
  color: rgba(235, 188, 70, 0.9);
  background-color: #222;
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 0 5px 5px 0;
}

#filter-button:hover {
  color: #ea4335;
}

#filter-input {
  width: 100%;
  height: 18px;
  border: #222 solid 2px;
  border-radius: 5px 0 0 5px;
  outline: none;
}


ul {
  list-style-type: none;
  padding: 4px;
}

li {
  text-align: left;
  margin: 15px 0;
  border: #222 solid 1px;
  border-radius: 10px;
  padding: 4px;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  box-shadow: #222 1px 3px 12px;
}

li:hover {
  background-color: #222;
  color: darkgoldenrod;
  font-weight: bold;
  cursor: pointer;
}


/* Style Navbar component */

#nav-bar {
  display: flex;
  background-color: #222;
  position : absolute;
  width : 100%;
  z-index : 1;
}

#app-title {
  font-size: 1em;
  color: rgba(235, 188, 70, 0.9);
  width: 100%;
}

#logo {
  width: 64px;
  height: 64px;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 1;
  transition: all 1s ease;
}

/* Styles for map container */

#map {
  height: 100vh;
  width: 100%;
}

/* Styles for info window */

.info-content {
  text-align : left;
}

/* Styles for Responsiveness */

/* TODO: Set media query for tablet an desktop */
@media screen and (min-width: 451px){

  .menu {
    width: 200px;
  }

  #logo {
    left: 100px;
  }
}

